/* begin Page */
/* Created by Artisteer v3.0.0.33215 */

#art-main, table
{
    font-family: Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
    margin: 0;
    padding: 0;
}

body
{
  margin: 0 auto;
  padding: 0;
  color: #1B383E;
  background-color: #D7E9EE;
  background-image: url('images/Bottom_texture.jpg');
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: top left;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
    font-family: Arial, Helvetica, Sans-Serif;
}

.art-postcontent p
{
    margin: 12px 0 12px 0;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

.art-postcontent a
{
  text-decoration: underline;
  color: #526A72;
}

.art-postcontent a:link
{
  text-decoration: underline;
  color: #526A72;
}

.art-postcontent a:visited, .art-postcontent a.visited
{

  color: #3C7A88;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{

  text-decoration: none;
  color: #6D8A95;
}


.art-postcontent h1
{
   margin: 12px 0 12px 0; 
   color: #526A72;
 
}

.art-postcontent h2
{
    color: #526A72;
   margin: 13px 0 13px 0; 
   font-size: 16px;   
}

.art-postcontent h3
{
   margin: 16px 0 16px 0; 
  color: #3C7A88; 
  font-size: 16px;    
}

.art-postcontent h4
{
   margin: 18px 0 18px 0; 
   color: #4B0E1F; 
   font-size: 14px;   
}

.art-postcontent h5
{
   margin: 20px 0 20px 0; 
   color: #4B0E1F;   
   font-size: 12px;
}

.art-postcontent h6
{
   margin: 25px 0 25px 0; 
   color: #4B0E1F;
   font-size: 11px;      
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

#art-main
{
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
}




.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1px;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.art-sheet
{
  position: relative;
  margin: 0 auto;
  min-width: 27px;
  min-height: 27px;
}

.art-sheet-body
{
  position: relative;
  padding: 4px;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl, .art-sheet-tc, .art-sheet-bc,.art-sheet-cr, .art-sheet-cl
{
  position: absolute;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl
{
  width: 42px;
  height: 42px;
  background-image: url('images/sheet_s.png');
}

.art-sheet-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 21px, 21px, auto);
}

.art-sheet-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 21px, 21px);
}

.art-sheet-bl
{
  bottom: 0;
  left: 0;
  clip: rect(21px, 21px, auto, auto);
}

.art-sheet-br
{
  bottom: 0;
  right: 0;
  clip: rect(21px, auto, auto, 21px);
}

.art-sheet-tc, .art-sheet-bc
{
  left: 21px;
  right: 21px;
  height: 42px;
  background-image: url('images/sheet_h.png');
}

.art-sheet-tc
{
  top: 0;
  clip: rect(auto, auto, 21px, auto);
}

.art-sheet-bc
{
  bottom: 0;
  clip: rect(21px, auto, auto, auto);
}

.art-sheet-cr, .art-sheet-cl
{
  top: 21px;
  bottom: 21px;
  width: 42px;
  background-image: url('images/sheet_v.png');
}

.art-sheet-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 21px);
}

.art-sheet-cl
{
  left: 0;
  clip: rect(auto, 21px, auto, auto);
}

.art-sheet-cc
{
  position: absolute;
  top: 21px;
  left: 21px;
  right: 21px;
  bottom: 21px;
  background-color: #FFFFFF;
}

.art-sheet
{
  top: 30px !important;
  margin-bottom: 30px !important;
  cursor:auto;
  width: 960px;
}


/* end Box, Sheet */

/* begin Header */
div.art-header
{
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 85px;
  overflow: hidden;
}


div.art-header-png
{
  position: absolute;
  left:0;
  top: 0;
  width: 952px;
  height: 85px;
  background-image: url('images/header.png');
  background-repeat: no-repeat;
  background-position:center center; 
}

div.art-header-jpeg
{
  position: absolute;
  top: 0;
  left:0;
  width: 952px;
  height: 85px;
  background-image: url('images/header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}


/* end Header */

/* begin Logo */
div.art-logo
{
  display: block;
  position: absolute;
  left: 10px;
  top: 20px;
  width: 932px;
}

h1.art-logo-name
{
  display: block;
  text-align: left;
}

h1.art-logo-name, h1.art-logo-name a, h1.art-logo-name a:link, h1.art-logo-name a:visited, h1.art-logo-name a:hover
{
  font-size: 38px;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #631328 !important;
}


h2.art-logo-text, 
h2.art-logo-text a,
h2.art-logo-text a:link,
h2.art-logo-text a:visited,
h2.art-logo-text a:hover
{
  font-size: 15px;
  padding: 0;
  margin: 0;
  color: #631328 !important;
}

h2.art-logo-text
{
  display: block;
  text-align: left;
}
/* end Logo */

/* begin Layout */
.art-content-layout
{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: Transparent;
  border: none !important;
  padding:0 !important;
}
.art-layout-cell, .art-content-layout-row
{
  background-color: Transparent;
  vertical-align: top;
  text-align: left;
  border: none !important;
  margin:0 !important;
  padding:0 !important;
}
.art-content-layout .art-content-layout{width: auto;margin:0;}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell{display: table-cell;}
.art-layout-cell .art-layout-cell{display: block;}
.art-content-layout-row {display: table-row;}
.art-layout-glare{position:relative;}/* end Layout */

/* begin Box, Block, VMenuBlock */
.art-vmenublock
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-vmenublock-body
{
  position: relative;
  padding: 0;
}


.art-vmenublock
{
  margin: 10px;
}

/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.art-vmenublockheader
{
  margin-bottom: 0;
}

.art-vmenublockheader, .art-vmenublockheader h3.t
{
  position: relative;
  height: 28px;
}

.art-vmenublockheader h3.t,
.art-vmenublockheader h3.t a,
.art-vmenublockheader h3.t a:link,
.art-vmenublockheader h3.t a:visited, 
.art-vmenublockheader h3.t a:hover
{
  color: #000000;
  font-size: 12px;
}

.art-vmenublockheader h3.t
{
  margin:0;
  padding: 0 10px 0 28px;
  white-space: nowrap;
  line-height: 28px;	
}

.art-vmenublockheader .l, .art-vmenublockheader .r
{
  position: absolute;
  height: 28px;
  background-image: url('images/vmenublockheader.png');
}

.art-vmenublockheader .l
{
  left: 0;
  right: 22px;
}

.art-vmenublockheader .r
{
  width: 952px;
  right: 0;
  clip: rect(auto, auto, auto, 930px);
}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.art-vmenublockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 3px;
  min-height: 3px;
}

.art-vmenublockcontent-body
{
  position: relative;
  padding: 1px;
}

.art-vmenublockcontent-tr, .art-vmenublockcontent-tl, .art-vmenublockcontent-br, .art-vmenublockcontent-bl, .art-vmenublockcontent-tc, .art-vmenublockcontent-bc,.art-vmenublockcontent-cr, .art-vmenublockcontent-cl
{
  position: absolute;
}

.art-vmenublockcontent-tr, .art-vmenublockcontent-tl, .art-vmenublockcontent-br, .art-vmenublockcontent-bl
{
  width: 2px;
  height: 2px;
  background-image: url('images/vmenublockcontent_s.png');
}

.art-vmenublockcontent-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 1px, 1px, auto);
}

.art-vmenublockcontent-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 1px, 1px);
}

.art-vmenublockcontent-bl
{
  bottom: 0;
  left: 0;
  clip: rect(1px, 1px, auto, auto);
}

.art-vmenublockcontent-br
{
  bottom: 0;
  right: 0;
  clip: rect(1px, auto, auto, 1px);
}

.art-vmenublockcontent-tc, .art-vmenublockcontent-bc
{
  left: 1px;
  right: 1px;
  height: 2px;
  background-image: url('images/vmenublockcontent_h.png');
}

.art-vmenublockcontent-tc
{
  top: 0;
  clip: rect(auto, auto, 1px, auto);
}

.art-vmenublockcontent-bc
{
  bottom: 0;
  clip: rect(1px, auto, auto, auto);
}

.art-vmenublockcontent-cr, .art-vmenublockcontent-cl
{
  top: 1px;
  bottom: 1px;
  width: 2px;
  background-image: url('images/vmenublockcontent_v.png');
}

.art-vmenublockcontent-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 1px);
}

.art-vmenublockcontent-cl
{
  left: 0;
  clip: rect(auto, 1px, auto, auto);
}

.art-vmenublockcontent-cc
{
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background-color: #FFFFFF;
}

.art-vmenublockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 3px;
  min-height: 3px;
}

.art-vmenublockcontent-body
{
  position: relative;
  padding: 1px;
}

.art-vmenublockcontent-tr, .art-vmenublockcontent-tl, .art-vmenublockcontent-br, .art-vmenublockcontent-bl, .art-vmenublockcontent-tc, .art-vmenublockcontent-bc,.art-vmenublockcontent-cr, .art-vmenublockcontent-cl
{
  position: absolute;
}

.art-vmenublockcontent-tr, .art-vmenublockcontent-tl, .art-vmenublockcontent-br, .art-vmenublockcontent-bl
{
  width: 2px;
  height: 2px;
  background-image: url('images/vmenublockcontent_s.png');
}

.art-vmenublockcontent-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 1px, 1px, auto);
}

.art-vmenublockcontent-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 1px, 1px);
}

.art-vmenublockcontent-bl
{
  bottom: 0;
  left: 0;
  clip: rect(1px, 1px, auto, auto);
}

.art-vmenublockcontent-br
{
  bottom: 0;
  right: 0;
  clip: rect(1px, auto, auto, 1px);
}

.art-vmenublockcontent-tc, .art-vmenublockcontent-bc
{
  left: 1px;
  right: 1px;
  height: 2px;
  background-image: url('images/vmenublockcontent_h.png');
}

.art-vmenublockcontent-tc
{
  top: 0;
  clip: rect(auto, auto, 1px, auto);
}

.art-vmenublockcontent-bc
{
  bottom: 0;
  clip: rect(1px, auto, auto, auto);
}

.art-vmenublockcontent-cr, .art-vmenublockcontent-cl
{
  top: 1px;
  bottom: 1px;
  width: 2px;
  background-image: url('images/vmenublockcontent_v.png');
}

.art-vmenublockcontent-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 1px);
}

.art-vmenublockcontent-cl
{
  left: 0;
  clip: rect(auto, 1px, auto, auto);
}

.art-vmenublockcontent-cc
{
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background-color: #FFFFFF;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.art-vmenu, ul.art-vmenu li
{
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: 0;
}

ul.art-vmenu ul
{
  display: none;
}

ul.art-vmenu ul.active
{
  display: block;
}
/* end VMenu */

/* begin VMenuItem */
ul.art-vmenu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 34px;
  cursor: pointer;
  text-decoration: none;
}

ul.art-vmenu li.art-vmenu-separator
{
  display: block;
  padding: 0 0 0 0;
  margin: 0;
  font-size: 1px;
}

ul.art-vmenu .art-vmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  border: none;
}

ul.art-vmenu a .r, ul.art-vmenu a .l
{
  position: absolute;
  display: block;
  top: 0;
  height: 112px;
  background-image: url('images/vmenuitem.png');
}

ul.art-vmenu a .l
{
  left: 0;
  right: 5px;
}

ul.art-vmenu a .r
{
  width: 962px;
  right: 0;
  clip: rect(auto, auto, auto, 957px);
}

ul.art-vmenu a .t, ul.art-vmenu ul a
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 11px;
}

ul.art-vmenu a .t
{
  display: block;
  position:relative;
  top:0;
  line-height: 34px;
  color: #526A72;
  padding: 0 10px 0 10px;
  margin-left:0;
  margin-right:0;
}

ul.art-vmenu a.active .l, ul.art-vmenu a.active .r
{
  top: -78px;
}

ul.art-vmenu a.active .t
{
  color: #336975;
}

ul.art-vmenu a:hover .l, ul.art-vmenu a:hover .r
{
  top: -39px;
}

ul.art-vmenu a:hover .t
{
  color: #336975;
}


/* end VMenuItem */

/* begin VMenuSubItem */
ul.art-vmenu ul, ul.art-vmenu ul li
{
  margin: 0;
  padding: 0;
}

ul.art-vmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 18px;
  overflow: visible;
  background-image: url('images/vsubitem.gif');
  background-position: 15px 0;
  background-repeat: repeat-x;
  padding-left: 33px;
}

ul.art-vmenu ul li
{
  padding: 0;
}

ul.art-vmenu ul span, ul.art-vmenu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

ul.art-vmenu ul a, ul.art-vmenu ul a:link, ul.art-vmenu ul a:visited, ul.art-vmenu ul a:hover, ul.art-vmenu ul a:active, ul.art-vmenu ul span, ul.art-vmenu ul span span
{
  line-height: 18px;
  color: #2B5761;
  font-size: 10px;
  margin-left: 0;
}

ul.art-vmenu ul
{
    margin:0 2px 2px 2px;
}

ul.art-vmenu ul ul
{
  margin:0 0 2px 0;
}

ul.art-vmenu ul li.art-vsubmenu-separator
{ 
  display: block;
  margin: 0;
  font-size: 1px;
  padding: 3px 0 3px 0;
 }

ul.art-vmenu ul .art-vsubmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  margin: 0;
  border: none;
}

ul.art-vmenu ul li.art-vmenu-separator-first
{
    padding-bottom:2px;
}

ul.art-vmenu ul li li a
{
  background-position: 30px 0;
  padding-left: 48px;
}

ul.art-vmenu ul li li li a
{
  background-position: 45px 0;
  padding-left: 63px;
}

ul.art-vmenu ul li li li li a
{
  background-position: 60px 0;
  padding-left: 78px;
}

ul.art-vmenu ul li li li li li a
{
  background-position: 75px 0;
  padding-left: 93px;
}


ul.art-vmenu ul li a.active
{
  color: #1B383E;
  background-position: 15px -46px;
}

ul.art-vmenu ul li li a.active
{
  background-position: 30px -46px;
}

ul.art-vmenu ul li li li a.active
{
  background-position: 45px -46px;
}

ul.art-vmenu ul li li li li a.active
{
  background-position: 60px -46px;
}

ul.art-vmenu ul li li li li li a.active
{
  background-position: 75px -46px;
}



ul.art-vmenu ul li a:hover, ul.art-vmenu ul li a:hover.active
{
  color: #1F3F46;
  background-position: 15px -23px;
}


ul.art-vmenu ul li li a:hover, ul.art-vmenu ul li li a:hover.active
{
  background-position: 30px -23px;
}

ul.art-vmenu ul li li li a:hover, ul.art-vmenu ul li li li a:hover.active
{
  background-position: 45px -23px;
}

ul.art-vmenu ul li li li li a:hover, ul.art-vmenu ul li li li li a:hover.active
{
  background-position: 60px -23px;
}

ul.art-vmenu ul li li li li li a:hover, ul.art-vmenu ul li li li li li a:hover.active
{
  background-position: 75px -23px;
}
/* end VMenuSubItem */

/* begin Box, Block */
.art-block
{
  position: relative;
  margin: 0 auto;
  min-width: 3px;
  min-height: 3px;
}

.art-block-body
{
  position: relative;
  padding: 2px;
}

.art-block-tr, .art-block-tl, .art-block-br, .art-block-bl, .art-block-tc, .art-block-bc,.art-block-cr, .art-block-cl
{
  position: absolute;
}

.art-block-tr, .art-block-tl, .art-block-br, .art-block-bl
{
  width: 2px;
  height: 2px;
  background-image: url('images/block_s.png');
}

.art-block-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 1px, 1px, auto);
}

.art-block-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 1px, 1px);
}

.art-block-bl
{
  bottom: 0;
  left: 0;
  clip: rect(1px, 1px, auto, auto);
}

.art-block-br
{
  bottom: 0;
  right: 0;
  clip: rect(1px, auto, auto, 1px);
}

.art-block-tc, .art-block-bc
{
  left: 1px;
  right: 1px;
  height: 2px;
  background-image: url('images/block_h.png');
}

.art-block-tc
{
  top: 0;
  clip: rect(auto, auto, 1px, auto);
}

.art-block-bc
{
  bottom: 0;
  clip: rect(1px, auto, auto, auto);
}

.art-block-cr, .art-block-cl
{
  top: 1px;
  bottom: 1px;
  width: 2px;
  background-image: url('images/block_v.png');
}

.art-block-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 1px);
}

.art-block-cl
{
  left: 0;
  clip: rect(auto, 1px, auto, auto);
}

.art-block-cc
{
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background-color: #FFFFFF;
}

.art-block
{
  margin: 10px;
}

/* end Box, Block */

/* begin BlockHeader */
.art-blockheader
{
  margin-bottom: 0;
}

.art-blockheader, .art-blockheader h3.t
{
  position: relative;
  height: 36px;
}

.art-blockheader h3.t,
.art-blockheader h3.t a,
.art-blockheader h3.t a:link,
.art-blockheader h3.t a:visited, 
.art-blockheader h3.t a:hover
{
  color: #000000;
  font-size: 12px;
}

.art-blockheader h3.t
{
  margin:0;
  padding: 0 10px 0 10px;
  white-space: nowrap;
  line-height: 36px;	
}

/* end BlockHeader */

/* begin Box, BlockContent */
.art-blockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-blockcontent-body
{
  position: relative;
  padding: 7px;
}


.art-blockcontent-body, 
.art-blockcontent-body li, 
.art-blockcontent-body a,
.art-blockcontent-body a:link,
.art-blockcontent-body a:visited,
.art-blockcontent-body a:hover
{
  color: #2B5761;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 11px;
}

.art-blockcontent-body p
{
  margin: 6px 0 6px 0;
}

.art-blockcontent-body a
{
  color: #50A0B2;
  text-decoration: underline;
}

.art-blockcontent-body a:link
{
  color: #50A0B2;
  text-decoration: underline;
}

.art-blockcontent-body a:visited, .art-blockcontent-body a.visited
{
  color: #94AAB1;

}

.art-blockcontent-body a:hover, .art-blockcontent-body a.hover
{
  color: #D72B59;

  text-decoration: none;
}

.art-blockcontent-body ul li
{
  line-height: 125%;    
  color: #387381;

  padding: 0 0 0 13px;
  background-image: url('images/blockcontentbullets.png');
  background-repeat: no-repeat;
}/* end Box, BlockContent */

/* begin Button */
.art-button-wrapper a.art-button,
.art-button-wrapper a.art-button:link,
.art-button-wrapper input.art-button,
.art-button-wrapper button.art-button
{
  text-decoration: none;
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  position:relative;
  top:0;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #000000 !important;
  width: auto;
  outline: none;
  border: none;
  background: none;
  line-height: 28px;
  height: 28px;
  margin: 0 !important;
  padding: 0 14px !important;
  overflow: visible;
  cursor: pointer;
}

.art-button img, .art-button-wrapper img
{
  margin: 0;
  vertical-align: middle;
}

.art-button-wrapper
{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 28px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.firefox2 .art-button-wrapper
{
  display: block;
  float: left;
}

input, select, textarea
{
  vertical-align: middle;
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
}

.art-block select 
{
    width:96%;
}

.art-button-wrapper.hover .art-button, .art-button-wrapper.hover a.art-button:link, .art-button:hover
{
  color: #000000 !important;
  text-decoration: none !important;
}

.art-button-wrapper.active .art-button, .art-button-wrapper.active a.art-button:link
{
  color: #1A343A !important;
}

.art-button-wrapper .art-button-l, .art-button-wrapper .art-button-r
{
  display: block;
  position: absolute;
  height: 94px;
  margin: 0;
  padding: 0;
  background-image: url('images/button.png');
}

.art-button-wrapper .art-button-l
{
  left: 0;
  right: 13px;
}

.art-button-wrapper .art-button-r
{
  width: 419px;
  right: 0;
  clip: rect(auto, auto, auto, 406px);
}

.art-button-wrapper.hover .art-button-l, .art-button-wrapper.hover .art-button-r
{
  top: -33px;
}

.art-button-wrapper.active .art-button-l, .art-button-wrapper.active .art-button-r
{
  top: -66px;
}

.art-button-wrapper input
{
  float: none !important;
}
/* end Button */

/* begin Box, Post */
.art-post
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-post-body
{
  position: relative;
  padding: 7px;
}


.art-post
{
  margin: 5px;
}

a img
{
  border: 0;
}

.art-article img, img.art-article
{
  border: solid 1px #BDDBE2;
  margin: 10px;
}

.art-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.art-article table, table.art-article
{
  border-collapse: collapse;
  margin: 1px;
}

.art-article th, .art-article td
{
  padding: 2px;
  border: solid 1px #A1B4BB;
  vertical-align: top;
  text-align: left;
}

.art-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

/* end Box, Post */

/* begin PostHeaderIcon */
h2.art-postheader
{
  color: #3B4B51;
  margin: 3px 0 3px 0;
}

h2.art-postheader, 
h2.art-postheader a, 
h2.art-postheader a:link, 
h2.art-postheader a:visited,
h2.art-postheader a.visited,
h2.art-postheader a:hover,
h2.art-postheader a.hovered
{
  font-size: 16px;
}

h2.art-postheader a, h2.art-postheader a:link
{
  text-align: left;
  text-decoration: none;
  color: #7A959F;
}

h2.art-postheader a:visited, h2.art-postheader a.visited
{

  color: #5FA9B9;
}


h2.art-postheader a:hover,  h2.art-postheader a.hovered
{

  text-decoration: underline;
  color: #6D8A95;
}

h2.art-postheader img
{
  border: none !important;
  vertical-align: middle;
  margin: 0 5px 0 0;
}
/* end PostHeaderIcon */

/* begin PostBullets */
.art-post ol, .art-post ul
{
  margin: 1em 0 1em 2em;
  padding: 0;
}

.art-post li
{
  font-size: 11px;
}

.art-post li ol, .art-post li ul
{
  margin: 0.5em 0 0.5em 2em;
  padding: 0;
}

.art-post li
{
  color: #2B5761; 

  padding: 0;
}


/* end PostBullets */

/* begin PostQuote */
.art-postcontent blockquote,
.art-postcontent blockquote a,
.art-postcontent blockquote a:link,
.art-postcontent blockquote a:visited,
.art-postcontent blockquote a:hover
{
  color: #21424A;
  text-align: left;
}

.art-postcontent blockquote p
{
   margin: 5px 10px 10px 10px;
}

.art-postcontent blockquote
{
   border: solid 0 #BBC9CE;
  margin: 10px 10px 10px 50px;
  padding: 10px 10px 10px 34px;
  background-color: #D2DBDE;
  background-image: url('images/postquote.png');
  background-position: left top;
  background-repeat: no-repeat;/* makes blockquote not to align behind the image if they are in the same line */
  overflow: auto;
}

/* end PostQuote */

/* begin Footer */
.art-footer
{
  position: relative;
  overflow: hidden;
  width: 100%;
}

.art-footer-b 
{
  position: absolute;
  left:5px;
  right:5px;
  bottom:0;
  height:5px;
  background-image: url('images/footer_b.png');
}

.art-footer-r, .art-footer-l
{
  position: absolute;
  height:5px;
  background-image: url('images/footer_s.png');
  bottom: 0;
}

.art-footer-l
{
  left: 0;
  width:5px;
}

.art-footer-r
{
  right: 0;
  width:10px;
  clip: rect(auto, auto, auto, 5px);
}

.art-footer-t
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 5px;
  background-color: #BBC9CE;
}

.art-footer-body
{
    position:relative;
    padding: 20px;
}

.art-footer-body .art-rss-tag-icon
{
  position: absolute;
  left:   6px;
  bottom:20px;
  z-index:1;
}

.art-rss-tag-icon
{
  display: block;
  background-image: url('images/rssicon.png');
  background-position: center right;
  background-repeat: no-repeat;
  height: 32px;
  width: 17px;
  cursor: default;
}

.art-footer-text p
{
  padding:0;
  margin:0;
}

.art-footer,
.art-footer a,
.art-footer a:link,
.art-footer a:visited,
.art-footer a:hover
{
    color: #181E21;
    letter-spacing: 1px;
}

.art-footer-text
{
  min-height: 32px;
  padding: 0 10px 0 10px;

}

.art-footer,
.art-footer-text,
.art-footer p
{
  text-align: center;
}

.art-footer a,
.art-footer a:link
{
  color: #475A62;
  text-decoration: underline;
}

.art-footer a:visited
{
  color: #336975;

}

.art-footer a:hover
{
  color: #22464E;

  text-decoration: none;
}
/* end Footer */

/* begin PageFooter */
.art-page-footer, 
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #5E7982;
}

.art-page-footer
{
  margin: 1em;
  text-align: center;
  text-decoration: none;
  color: #336975;
}
/* end PageFooter */

/* begin LayoutCell, sidebar1 */

.art-content-layout .art-sidebar1
{
  background-image: url('images/sidebar_bg.png');
  width: 225px;
}

/* end LayoutCell, sidebar1 */

/* begin LayoutCell, content */




/* end LayoutCell, content */




.overview-table .art-layout-cell
{
    width:33%;
}


.overview-table-inner 
{
    margin:10px;
}

table.table
{
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
    text-align:left;
    vertical-align:top;
}

table.table, table.table tr, table.table td
{
    border:none;
    margin:0;
    padding:0;
    background-color:Transparent;
}

img.image
{
    margin:0;
    padding:0;
    border:none;
}


